/* Write your CSS here */
.course-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-tile {
  height: 100px;
  width: 100px;
}

.icons {
  height: 20px;
  width: 20px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
